


/* ---------- Configuração conteudo ---------- */

.conteudo {
    height: 92vh;
    width: 85vw;
    margin: 2% 2%;
}

/* ----------- FIM CSS PADRÃO FIM ----------  */


.botao-filtro {

    cursor: pointer;
    font-size: medium;
    gap: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 7vh;
    border-radius: 15px;
    font-family: "Allerta",
        sans-serif;
    background: linear-gradient(to left, #3D3C46, #16151A);
    color: white;
    margin-top: 0%;
    margin-bottom: 1%;
    border: 1px solid white;

}

.botao-filtro:hover {
    background-image: linear-gradient(158deg, black, #1f1f1f6d);
    border: 1px solid white;
    border-radius: 15px;
}

.conteudo {

    & h1 {
        font-size: 45px;
        padding-bottom: 3%;
    }

    & span {
        color: rgba(0, 0, 0, 0.703);
        font-size: 85%;
    }

}

.linha-title-atividades {
    width: 45vw;
    height: 1px;
    display: block;
    background: #2c2c2c;
    margin-bottom: 3%;
}

.titulo-data {
    width: 12.9vw;
}

.titulo-identificador {
    width: 17vw;
}

.titulo-status{
    width: 13.5vw;
}

.colunas {

    & p {
        font-size: 85%;
        color: rgba(0, 0, 0, 0.703);
    }

    display: flex;
    margin-left: 2%;
    margin-bottom: 0.5%;
}

.linha-colunas {
    width: auto;
    height: 1px;
    display: block;
    background: #2c2c2c;
    margin-top: 1.2%;
    margin-bottom: 1%;
}

.lista {
    width: 96%;
    height: 73%;
    overflow-y: auto;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 2%;
    padding-top: 1.5%;
    /* Espaçamento interno */
}


.lista::-webkit-scrollbar {
    width: 16px;
    /* Largura da barra de rolagem */
    height: 16px;
    /* Altura da barra de rolagem horizontal */
}

.lista::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do trilho */
}

.lista::-webkit-scrollbar-thumb {
    background-color: #2c2c2c;
    /* Cor do polegar da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do polegar */
}

.lista::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Cor do polegar ao passar o mouse */
}


.container {
    & p {
        font-size: 80%;
        color: rgb(0, 0, 0);
    }

    display: flex;

}

.data {
    width: 12.9vw;
}

.identificador {
    width: 17vw;
}

.status{
    width: 13.5vw;
}