
/* ---------- Configuração conteudo ---------- */

.conteudo {
    width: 85vw;
    height: 92vh;
    margin: 2% 2%;
}

/* ----------- FIM CSS PADRÃO FIM ----------  */


body{
    overflow: hidden;
}

/* ----------- CARDS SEÇÃO ----------  */
.logo-menu {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    margin: 0 auto 10px; /* Centraliza a imagem e adiciona espaço abaixo */
    position: absolute; /* Torna a posição da imagem absoluta */
    top: 7%; /* Ajuste a posição vertical conforme necessário */
    left: 2.8%; /* Ajuste a posição horizontal conforme necessário */
    z-index: 10; /* Certifica-se de que a imagem fique acima de outros elementos */
}

.conteudo h1 {
    font-size: 36px;
    padding-bottom: 3%;
}
.back-image-card{
    width: 67%;
    height: 100%;
    background-image: url(../imagens/backCard.png);
    background-size: cover;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;

}
.card {
    width: 36vw;
    height: 27vh;
    background: linear-gradient(155deg, #284f68, #032433);
    border-radius: 15px;
    color: white;
    padding: 9% 1%;
    cursor: pointer;
    position: relative;

    & h2 {
        font-size: 20px;
        margin-left: 5%;
        margin-bottom: 2%;
    }

    & .indicador-titulo {
        display: flex;
        flex-direction: column;
        gap: 2px 0px;
    }

    & .indicador-pai {
        display: flex;
        align-items: center;
        padding-bottom: 1%;
        justify-content: space-between;

        & span {
            font-size: 11px;
            padding-bottom: 3px;
        }

        & img {
            width: 25%;
        }
    }

    & .indicadores-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        margin-left: 4%;
        border-radius: 1px;
    }
}



.card-grid-pai {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-height: 85vh;
    overflow: auto;
    max-width: 85vw;
}

.card-grid-pai::-webkit-scrollbar {
    width: 16px;
    /* Largura da barra de rolagem */
    height: 16px;
    /* Altura da barra de rolagem horizontal */
}

.card-grid-pai::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do trilho */
}

.card-grid-pai::-webkit-scrollbar-thumb {
    background-color: #04344A;
    /* Cor do polegar da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do polegar */
}

.card-grid-pai::-webkit-scrollbar-thumb:hover {
    background-color: #074c6c;
    /* Cor do polegar ao passar o mouse */
}


/* GRÁFCIOS */
canvas {
    width: 35vw !important;
    height: 32vh !important;
    background-color: #2c2c2c;
    padding: 4%;
    border-radius: 20px;
}

.grafico-box {
    display: flex;
    flex-direction: column;

    & h2 {
        text-align: left;
        width: 83%;
        padding: 1% 0%;
        font-size: 25px;
    }
}

.desativarServidorButton{
    padding: 1% 2%;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: linear-gradient(155deg, #4d97c5, #0b6893);
    color: white;
    font-size: 15px;
    margin: 0 auto;
    display: block;
    transition: all 0.3s ease;
}

.desativarServidorButton:hover{
    background: linear-gradient(155deg, #3e799e, #084d6d);
    transform: scale(1.02);
}

.selectListarServidores{
    padding: 0% 2%;
    border-radius: 10px;
    background: #04344A;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 2%;
}
/* ---------- MODAL ---------- */

.modal {
    color: white;
    width: 90vw;
    background: linear-gradient(155deg, #407fa6, #084f70, #042e41);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    overflow: auto;
    border-radius: 12px;
    padding: 2%;

    & i {
        position: fixed;
        right: 2%;
        top: 3%;
        font-size: 30px;
        color: rgb(255, 255, 255);
        cursor: pointer;

    }

    & h1 {
        padding: 0% 5%;
        font-size: 35px;
    }

    & h2 {
        font-size: 20px;
    }

}

#modalGraficos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 85vw;
}

.modal::-webkit-scrollbar {
    width: 16px;
    /* Largura da barra de rolagem */
    height: 16px;
    /* Altura da barra de rolagem horizontal */
}

.modal::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do trilho */
}

.modal::-webkit-scrollbar-thumb {
    background-color: #04344A;
    /* Cor do polegar da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do polegar */
}

.modal::-webkit-scrollbar-thumb:hover {
    background-color: #04344A;
    /* Cor do polegar ao passar o mouse */
}

.simulacao {
    width: 30vw;
    height: 25vh;
    background-color: #16151A;
    color: white;
    text-align: center;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.simulacao2 {
    width: 15vw;
    height: 20vh;
    background-color: #16151A;
    color: white;
    text-align: center;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.grafico-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-bottom: 5%;
}

.blur-grid {
    filter: blur(5px);
    /* Aplica o desfoque */
    transition: filter 0.3s ease-in-out;
    /* Transição suave do desfoque */
}

.alertCardEstatico {
    position: absolute;
    left: 65%;
    bottom: -30%;
    display: flex;
    flex-direction: column;
    background: #2c2c2c;
    border: white 1px solid;
    width: 30vw;
    color: white;
    height: 15vh;
    border-radius: 12px;
    padding: 2%;
    justify-content: center;
    gap: 10px;
    transition: all 1s;

    & .tituloAlerta{
        text-align: center;
        padding-bottom: 20px;
        font-size: 20px;
        font-weight: 800;
    }

    & .descAlerta{
        font-weight: 100;
    }
}

.alertCardEstaticoUsar{
    bottom: 2% !important;
}

.mudarLimiteBox{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;

    & input{
        border: none;
        background: #2c2c2c;
        color: white;
        border-radius: 10px;
        padding: 4.5% 2%;
        width: 60%;
    }

    & button{
        padding: 1% 4%;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: #0b6893;
    color: white;
    font-size: 15px;
    transition: all 0.3s ease;
    }
    button:hover{
        transform: scale(1.02);
    }

    & .boxInputs{
        display: flex;
    }
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-image: none; 
}