
/* ---------- Configuração conteudo ---------- */

.conteudo {
    width: 85vw;
    height: 92vh;
    margin: 2% 2%;
}

/* ----------- FIM CSS PADRÃO FIM ----------  */




/* ----------- CARDS SEÇÃO ----------  */

.conteudo h1 {
    font-size: 45px;
    padding-bottom: 3%;
}
.back-image-card{
    width: 67%;
    height: 100%;
    background-image: url(../imagens/backCard.png);
    background-size: cover;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;

}
.card {
    width: 38vw;
    height: 32vh;
    background: linear-gradient(155deg, black, #414141);
    border-radius: 15px;
    color: white;
    padding: 9% 0%;
    cursor: pointer;
    position: relative;

    & h2 {
        font-size: 20px;
        margin-left: 5%;
        margin-bottom: 2%;
    }

    & .indicador-titulo {
        display: flex;
        flex-direction: column;
        gap: 2px 0px;
    }

    & .indicador-pai {
        display: flex;
        align-items: center;
        padding-bottom: 1%;
        justify-content: space-between;

        & span {
            font-size: 11px;
            padding-bottom: 3px;
        }

        & img {
            width: 25%;
        }
    }

    & .indicadores-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        margin-left: 4%;
        border-radius: 1px;
    }
}



.card-grid-pai {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-height: 85vh;
    overflow: auto;
    max-width: 85vw;
}

.card-grid-pai::-webkit-scrollbar {
    width: 16px;
    /* Largura da barra de rolagem */
    height: 16px;
    /* Altura da barra de rolagem horizontal */
}

.card-grid-pai::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do trilho */
}

.card-grid-pai::-webkit-scrollbar-thumb {
    background-color: #2c2c2c;
    /* Cor do polegar da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do polegar */
}

.card-grid-pai::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Cor do polegar ao passar o mouse */
}


/* GRÁFCIOS */
canvas {
    width: 67vw !important;
    height: 60vh !important;
    background-color: #2c2c2c;
    padding: 4%;
    border-radius: 20px;
}

.grafico-box {
    display: flex;
    flex-direction: column;

    & h2 {
        text-align: left;
        width: 80%;
        padding: 3% 5%;
        font-size: 25px;
    }
}

.desativarServidorButton{
    padding: 1% 2%;
    border-radius: 10px;
    border: none;
    background: #2c2c2c;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    display: block;
}

.selectListarServidores{
    padding: 0% 2%;
    border-radius: 10px;
    background: #18171d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 2%;
}
/* ---------- MODAL ---------- */

.modal {
    width: 75vw;
    background-color: #d9d9d9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    overflow: auto;
    border-radius: 12px;
    padding: 2%;

    & i {
        position: fixed;
        right: 2%;
        top: 3%;
        font-size: 30px;
        color: rgb(0, 0, 0);
        cursor: pointer;

    }

    & h1 {
        padding: 3% 5%;
        font-size: 35px;
    }

    & h2 {
        font-size: 20px;
        text-align: center;
    }

}

.modal::-webkit-scrollbar {
    width: 16px;
    /* Largura da barra de rolagem */
    height: 16px;
    /* Altura da barra de rolagem horizontal */
}

.modal::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do trilho */
}

.modal::-webkit-scrollbar-thumb {
    background-color: #2c2c2c;
    /* Cor do polegar da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do polegar */
}

.modal::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Cor do polegar ao passar o mouse */
}

.simulacao {
    width: 30vw;
    height: 25vh;
    background-color: #16151A;
    color: white;
    text-align: center;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.simulacao2 {
    width: 15vw;
    height: 20vh;
    background-color: #16151A;
    color: white;
    text-align: center;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.grafico-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-bottom: 5%;
}

.blur-grid {
    filter: blur(5px);
    /* Aplica o desfoque */
    transition: filter 0.3s ease-in-out;
    /* Transição suave do desfoque */
}