/* ---------- Configuração conteudo ---------- */

/* espaço com vw e vh
   tamanho de fonte: px 
   tamanho de div: vw e vh*/
.logo-menu {
    width: 50px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
    /* Mantém a proporção da imagem */
    display: block;
    margin: 0 auto 10px;
    /* Centraliza a imagem e adiciona espaço abaixo */
    position: absolute;
    /* Torna a posição da imagem absoluta */
    top: 7%;
    /* Ajuste a posição vertical conforme necessário */
    left: 2.8%;
    /* Ajuste a posição horizontal conforme necessário */
    z-index: 10;
    /* Certifica-se de que a imagem fique acima de outros elementos */
}

#frameGraficos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas fixas */
    gap: 13px;
    max-width: 85vw;
    width: 70vw;
    justify-items: center;
}




canvas {
    width: 30vw !important;
    height: 25vh !important;
    /* margin: 0 auto; */
    margin-bottom: 7%;
    margin-top: 3%;
}

.frame-graficos {

    max-height: 80vh;
    overflow: auto;
}

.pesquisarButton {
    height: 4vh;
    width: 7vw;
    border-radius: 10px;
    border: 0px solid black;
    background: #e5e5e5;
    color: #000000;
    cursor: pointer;
    font-weight: 700;
    margin-left: 8px;
    margin-top: 2%;
}

.tituloGraficos {
    display: block;
    font-size: 20px;
    margin-bottom: 1%;
}

.frame-graficos::-webkit-scrollbar {
    width: 16px;
    /* Largura da barra de rolagem */
    height: 16px;
    /* Altura da barra de rolagem horizontal */
}

.frame-graficos::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do trilho */
}

.frame-graficos::-webkit-scrollbar-thumb {
    background-color: #04344A;
    /* Cor do polegar da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do polegar */
}

.frame-graficos::-webkit-scrollbar-thumb:hover {
    background-color: #04344A;
    /* Cor do polegar ao passar o mouse */
}

.conteudo {
    height: 92vh;
    width: 85vw;
    margin: 2% 2%;

    & h1 {
        font-size: 33px;
        padding-bottom: 3%;
        font-family: "Allerta", sans-serif;
        font-weight: 400;
        font-style: normal;
    }


    & b {
        font-family: "Allerta", sans-serif;
        font-size: 25px;
    }

}

.input1 {
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 2%;
    width: 7vw;
    height: 3vh;
    border-radius: 17px;
    color: white;
    background: radial-gradient(circle, #30607D, #04344A);
    font-family: "Allerta", sans-serif;
    font-size: 10px;

}

.input2 {
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 2%;
    width: 7vw;
    height: 3vh;
    border-radius: 17px;
    color: white;
    background: radial-gradient(circle, #30607D, #04344A);
    font-family: "Allerta", sans-serif;
    font-size: 10px;

}

/* .custom-date::-webkit-calendar-picker-indicator {
    opacity: 0;

  } */

.grafico {
    background-color: #1A191E;
    width: 75vw;
    height: 40vh;
    border-radius: 30px;
    margin-top: 1%;
    margin-bottom: 3%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}


/* ----------- FIM CSS PADRÃO FIM ----------  */