/* ---------- Configuração conteudo ---------- */

/* espaço com vw e vh
   tamanho de fonte: px 
   tamanho de div: vw e vh*/

canvas {
    width: 75vw !important;
    height: 75vh !important;
    margin: 0 auto;
}

.frame-graficos {
    max-height: 80vh;
    overflow: auto;
}

.pesquisarButton {
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    border: 0px solid black;
    background: #e5e5e5;
    color: #000000;
    cursor: pointer;
    font-weight: 700;
}

.tituloGraficos {
    display: block;
    font-size: 30px;
    margin-bottom: 1%;
}

.frame-graficos::-webkit-scrollbar {
    width: 16px;
    /* Largura da barra de rolagem */
    height: 16px;
    /* Altura da barra de rolagem horizontal */
}

.frame-graficos::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do trilho */
}

.frame-graficos::-webkit-scrollbar-thumb {
    background-color: #2c2c2c;
    /* Cor do polegar da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada do polegar */
}

.frame-graficos::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Cor do polegar ao passar o mouse */
}

.conteudo {
    height: 92vh;
    width: 85vw;
    margin: 2% 2%;


    & h1 {
        font-size: 45px;
        padding-bottom: 3%;
        font-family: "Allerta", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    & b {
        font-family: "Allerta", sans-serif;
        font-size: 25px;
    }

}

.input1 {
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 4%;
    width: 10vw;
    height: 5vh;
    border-radius: 17px;
    color: white;
    background: radial-gradient(circle, #3D3C46, #16151A);
    font-family: "Allerta", sans-serif;

}

.input2 {
    margin-left: 5px;
    padding-left: 4%;
    width: 10vw;
    height: 5vh;
    border-radius: 17px;
    background: radial-gradient(circle, #3D3C46, #16151A);
    color: white;
    font-family: "Allerta", sans-serif;

}

/* .custom-date::-webkit-calendar-picker-indicator {
    opacity: 0;

  } */

.grafico {
    background-color: #1A191E;
    width: 75vw;
    height: 40vh;
    border-radius: 30px;
    margin-top: 1%;
    margin-bottom: 3%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}


/* ----------- FIM CSS PADRÃO FIM ----------  */