@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

body{
    font-family: "Allerta", sans-serif;
}

.titulo-menu{
    align-self: flex-start;
    font-size: 15px;
    font-weight: 100;
    padding: 5% 13%;
    margin-top: 12%;
    color: white;
}

.menu-lateral{
    width: 7vw;
    background-image: linear-gradient(to bottom, #16151A, #34333B);
    height: 92vh;
    margin: 2% 1%;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    transition: all 0.8s;
}

.menu-lateral ul li{
    padding: 3%;
    transition: all 0.5s;
}

.menu-lateral ul li:hover{
    background-image: linear-gradient(158deg, black, #1f1f1f00);
    border: 1px solid white;
    border-radius: 15px;
    width: 100%;
}

.titulo-link-menu{
    transition: all 0.5s;
}
.name-menu{
    transition: all 0.5s;
}
.menu-lateral .titulo-link-menu,
.menu-lateral .name-menu,
.titulo-menu{
    opacity: 0;
    display: none;
}
.menu-lateral:hover .titulo-link-menu,
.menu-lateral:hover .titulo-menu{
    display: block;
    opacity: 1;
}
.menu-lateral:hover .name-menu{
    display: flex;
}

.menu-lateral:hover{
    width: 15vw;
}

.menu-lateral li a{
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu-lateral li{
    margin-bottom: 20px;
}

.menu-lateral ul{
    padding: 10%;
    margin-top: 20%;
}

.icon-menu i{
    font-size: 35px;        
    color: white;
}

.titulo-link-menu{
    font-size: 18px;
    color: white;
}

.name-menu{
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20%;
}

.name-menu h2{
    color: white;
}