@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

body {
    font-family: "Allerta", sans-serif;
    overflow: hidden;
}


/* 

----------- CSS PADRÃO ---------- 

Copie a seção abaixo em todas as página da dash, user, config user, etc

*/


/* ----------- MENU ---------- */
.logo-menu {
    width: 50px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
    /* Mantém a proporção da imagem */
    display: block;
    margin: 0 auto 10px;
    /* Centraliza a imagem e adiciona espaço abaixo */
    position: absolute;
    /* Torna a posição da imagem absoluta */
    top: 7%;
    /* Ajuste a posição vertical conforme necessário */
    left: 2.8%;
    /* Ajuste a posição horizontal conforme necessário */
    z-index: 10;
    /* Certifica-se de que a imagem fique acima de outros elementos */
}

.titulo-menu {
    align-self: flex-start;
    font-size: 15px;
    font-weight: 100;
    padding: 5% 13%;
    margin-top: 24%;
    color: white;
}

.menu-lateral {
    width: 7vw;
    background-image: linear-gradient(to bottom, #30607D, #04344A);
    height: 92vh;
    margin: 2% 1%;
    border-radius: 35px;
    display: flex;
    transition: all 0.8s;
    flex-direction: column;

    & .submenu{
        display: none;
    }
}

.girarSeta{
    transform: rotate(180deg);
}

.setaMenu{
    transition: all 0.3s;
    opacity: 0;
}

.menu-lateral ul li {
    transition: all 0.5s;
    width: 35%;
    cursor: pointer;
}

.menu-lateral ul {
    position: absolute;
    top: 14%;
    left: 3%;
}

.menu-aberto:hover .menu-lateral ul {
    width: auto;
}

.menu-aberto:hover .setaMenu {
    opacity: 1;
}

.menu-aberto:hover li:hover {
    background-image: linear-gradient(158deg, #254960, #032535);
    border: 1px solid white;
    border-radius: 15px;
    width: 100%;
    padding: 5% 6%;
}

.titulo-link-menu {
    transition: all 0.3s ease-in-out;
}

.name-menu {
    transition: all 0.3s ease-in-out;
}
.buttonSair-menu{
    opacity: 0;
    padding: 13% 0%;
    align-self: center;
    color: #ffffffb8;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
}

.menu-lateral .titulo-link-menu {
    opacity: 0;
    display: none;
}

.titulo-menu {
    opacity: 0;
    transition: all 0.1s;
}

.menu-lateral .name-menu {
    transition: all 0.1s;
    justify-content: center;
    opacity: 0;
}

.menu-aberto:hover .titulo-link-menu {
    display: block;
    opacity: 1;
}

.menu-aberto:hover .titulo-menu {
    opacity: 1;
    transition: all 1s;
}

.menu-aberto:hover .name-menu,
.menu-aberto:hover .buttonSair-menu {
    opacity: 1;
}

.menu-aberto:hover {
    width: 20vw;
    
}

.menu-lateral li a {
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    text-decoration: none;
}

.menu-lateral li {
    margin-bottom: 20px;
}


.icon-menu i {
    font-size: 35px;
    color: white;
}

.titulo-link-menu {
    font-size: 18px;
    color: white;
}

.name-menu {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.name-menu a{
    text-decoration: none;
}

.name-menu h2 {
    color: white;
}



/* ---------- Configuração conteudo ---------- */

.conteudo{
    height: 92vh;
    width: 85vw;
    margin: 2% 2%;
}

/* ----------- FIM CSS PADRÃO FIM ----------  */



