/* ---------- Configuração conteudo ---------- */

/* Remove a rolagem vertical e horizontal de toda a página */

/* Barra de rolagem global */
::-webkit-scrollbar {
    width: 12px !important; /* Largura da barra */
}

::-webkit-scrollbar-thumb {
    background: #3A6B8C !important; /* Cor do polegar */
    border-radius: 6px !important; /* Bordas arredondadas */
    border: 3px solid #074661 !important; /* Borda ao redor do polegar */
}

::-webkit-scrollbar-track {
    background: #074661 !important; /* Cor de fundo da barra */
    border-radius: 6px !important; /* Bordas arredondadas */
}

::-webkit-scrollbar-button {
    display: none !important; /* Remover as setas */
}


.conteudo h1 {
    font-size: 45px;
    padding-bottom: 2%;
    font-family: "Allerta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0.6%;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: linear-gradient(to left, #214154, #021923);
    color: white;
    margin-bottom: 1%;
}

.listaPicos {
    overflow-y: hidden; /* Remove a rolagem vertical */
    min-width: fit-content;
    
    height: 81%;
    background: linear-gradient(to bottom, #4C7387, #28353D);
    border-radius: 20px;
    padding: 2%;
}

.infos {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.infos img {
    height: 70%;
}

.infos select {
    text-align: center;
    margin-top: 2%; /* Ajuste o espaçamento superior */
    height: 40px; /* Tamanho do select */
    width: 35%;  /* Ajuste a largura */
    background-color: #093048;
    color: white;
    font-size: 1.2em; /* Tamanho da fonte */
    font-family: 'Arial', sans-serif;
    border: none;
    border-radius: 15px; /* Bordas arredondadas */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Adiciona efeito ao passar o mouse */
.infos select:hover {
    background-color: #0c4061; /* Cor de fundo mais clara */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Filtro selecionado (quando clicado) */
.infos select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(31, 125, 159, 0.6); /* Efeito de foco */
}

.div-filtro {
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.div-filtro p {
    margin-top: 7%;
    color: white;
    font-size: 1.4em;
    font-weight: 200; /* Mais destacado */
    font-family: "Allerta", sans-serif;
}

/* Estilos para a setinha do select */
.infos select::-ms-expand {
    display: none; /* Ocultar a seta no IE */
}

.infos select {
    -webkit-appearance: none;  /* Remove a seta do Chrome/Safari */
    -moz-appearance: none; /* Remove a seta do Firefox */
    appearance: none; /* Remove a seta do padrão */
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white"%3E%3Cpath fill-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z" clip-rule="evenodd" /%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 22px;
}

.icone_informacao {
    position: absolute;
    bottom: 10%;
    right: 7.5%;
    width: 3.5%;
    opacity: 1; /* Garantir que o botão está visível */
    transition: opacity 0.4s ease-in-out, box-shadow 0.4s ease-in-out; /* Suavidade */
    pointer-events: auto; /* Ativar interação */
    border-radius: 50%; /* Garantir que segue o formato circular */
}

.icone_informacao:hover {
    box-shadow: 0px 0px 10px 5px #455f6e; /* Sombra azul clara circular */
    transform: scale(1.02); /* Leve aumento no tamanho para destaque */
}

.ocultar {
    opacity: 0; /* Totalmente invisível */
    pointer-events: none; /* Impede a interação quando invisível */
}

.legenda_dias {
    position: absolute;
    right: 38.6%;
    bottom: 40.3%;
    width: 24%;
    opacity: 1; /* Inicialmente visível */
    transition: opacity 1s ease-in-out; /* Suavidade na opacidade */
    pointer-events: auto; /* Permite interação */
}

.legenda_dias.ocultar {
    opacity: 0; /* Tornar invisível */
    pointer-events: none; /* Desativar interação enquanto invisível */
}

/* Estilo do Modal */
/* Estilo do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Conteúdo do Modal */
.modal-content {
    color: white;
    background: radial-gradient(circle at top right, #3A6B8C, #124760);
    margin: 2% auto;
    padding: 20px;
    width: 80%;
    max-width: 650px;
    border-radius: 10px;
    position: relative;
    max-height: 70vh; /* Define uma altura máxima para o conteúdo dentro do modal */
    overflow-y: auto; /* Habilita a rolagem dentro do modal */
}

/* Botão de Fechar */
.close {
    color: #ffffff;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* Tabs do Modal */
.tabs {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento horizontal entre os botões */
    margin-bottom: 20px; /* Espaçamento abaixo dos botões */
}

.tabs .tab {
    background: radial-gradient(circle at top right, #3A6B8C, #124760); /* Degradê radial */
    border: 1px solid #fff; /* Borda branca */
    border-radius: 15px; /* Bordas arredondadas */
    color: #fff; /* Cor do texto */
    padding: 12px 30px; /* Espaçamento interno */
    text-align: center; /* Centralizar o texto */
    cursor: pointer; /* Cursor de ponteiro */
    transition: all 0.3s ease; /* Transição suave */
    margin: 0 10px; /* Espaçamento entre os botões */
}

.tabs .tab:hover {
    background: radial-gradient(circle at top right, #3e7497, #14506b); /* Inverte o degradê no hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
}

.tabs .tab.active {
    background: radial-gradient(circle at top right, #3e7497, #14506b); /* Degradê amarelo claro */
    border: 2px solid #14506b; /* Borda dourada */
    color: #ffffff; /* Texto azul escuro para contraste */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Sombra mais forte */
}

/* Sessões */
.sessao {
    display: none;
}

.sessao:first-child {
    display: block;
}

.titulo_modal {
    font-size: 170%;
    font-family: 'Poppins', sans-serif; /* Define a fonte */
    font-weight: 600; /* Define o peso para uma aparência mais marcante */
    color: #ffffff; /* Cor branca para um bom contraste */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.p_modal {
    font-family: 'Roboto', sans-serif; /* Define a fonte */
    font-size: 100%; /* Tamanho padrão para leitura */
    line-height: 1.6; /* Espaçamento entre linhas para facilitar a leitura */
    color: #ffffff; /* Cor do */
}

/* Conteúdo rolável */
#conteudo-metrica {
    max-height: 300px; /* Limita a altura do conteúdo */
    overflow-y: scroll !important; /* Garante que a rolagem apareça */
    padding-right: 10px; /* Adiciona espaço para a barra de rolagem */
}

/* Personalização da barra de rolagem */
#conteudo-metrica::-webkit-scrollbar {
    width: 12px !important; /* Largura da barra */
}

/* Personalização do "polegar" da barra */
#conteudo-metrica::-webkit-scrollbar-thumb {
    background: #3A6B8C !important; /* Cor do polegar */
    border-radius: 6px !important; /* Bordas arredondadas */
    border: 3px solid #021923 !important; /* Borda ao redor do polegar */
}

/* Estilo de fundo da barra de rolagem */
#conteudo-metrica::-webkit-scrollbar-track {
    background: #021923 !important; /* Cor de fundo da barra */
    border-radius: 6px !important; /* Bordas arredondadas */
}

/* Remover setas da barra de rolagem */
#conteudo-metrica::-webkit-scrollbar-button {
    display: none !important; /* Remover as setas */
}

/* Para Firefox */
#conteudo-metrica {
    scrollbar-width: thin !important; /* Barra fina */
    scrollbar-color: #3A6B8C #021923 !important; /* Cor do polegar e do fundo */
}

