
/* ---------- Estilização da seção "Tendência de Uso" do Modal dos Cards dos Servidores ---------- */

.tendenciaUso {
    display: flex !important;
    flex-direction: row!;
    gap: 20px;
    padding: 20px;
    background-color: #084f7099;;
    /* background-color: #084f70; */
    border-radius: 12px;
    color: white;
    justify-content: space-evenly;
    height: 85%;
}

.usoBox {
    background-color: #042e41;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
}

.titulo {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 17px;
    text-align: left;
    margin-left: 3px;
}

.graficoTendenciaUsoRAM {
    max-width: 98vw;
    height: 38vh;
    background: #16151A;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graficoTendenciaUsoCPU {
    max-width: 98vw;
    height: 38vh;
    background: #16151A;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uso-informacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.informacoes-texto {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color:#3A6B8C;
    width: 50%;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 20vh;
}

.informacao {
    font-size: 18px;
    line-height: 1.5;
    
}
.informacaoUsoAtual {
    font-size: 35px;
    line-height: 1.5;
}

.informacaoPrevisao {
    font-size: 35px;
    line-height: 1.5;
}

.criticidade-indicador {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 93%;
    background-color: rgb(63, 221, 63);
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.8);
}

.criticidade-indicador.amarelo {
    background-color: yellow;
    box-shadow: 0 0 8px rgba(255, 255, 0, 0.8);
    
}

.criticidade-indicador.vermelho {
    background-color: red;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.8);
}


