.conteudo h1 {
    font-size: 36px;
    padding-bottom: 3%;
}

.blur-grid {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
    background-color: gray;
}

/* HEADER - INFO BOX */


.pesquisa_box_inp {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.info_box {
    display: flex;
    align-items: center;
    width: 80%;

    & label {
        font-size: 1rem;

    }

    & input {
        border-radius: 27px;
        padding: 10px 9px;
        width: 16vw;
        border: 1px solid;
    }

    & i {
        margin-left: 3%;
        font-size: 1.3rem;
        cursor: pointer;
        color: #07374d;
        transition: all 0.3s;
    }

    & i:hover{
        margin-bottom: .3rem;
    }
}

.indicadores {
    display: flex;
    margin-left: 7%;
    gap: 0px 40px;

    & div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px 0px;
        border-radius: 15px;
        background-image: linear-gradient(to right, #30607D, #04344A);
        box-shadow: -20px -4px 60px #bebebe, 20px 20px 60px #ffffff;
        width: 24vh;
        padding: 2% 7%;
        color: #ffffff;
    }

    & p,
    & span {
        font-size: 0.8rem;
    }
}

/* Listagem cards */

.listagem_cards {
    margin-top: 4%;


    & div {
        display: flex;
        background-image: linear-gradient(to right, #30607D, #04344A);
        padding: 1.3% 1%;
        border-radius: 10px;
        gap: 10%;
        color: white;
        width: auto;
        margin-bottom: 1%;

        & h3 {
            font-size: .9rem;
            width: 13vw;
            display: flex;
        }

        & span {
            font-size: 1.3rem;
        }

    }

    & .apelido_card {
        width: 3vw !important;
    }

}

.plusModal_card {
    cursor: pointer;
    font-size: 1rem !important;
}

.spanStatus {
    font-size: 1rem !important;
    margin: 0px 5px;
}

/* Demanda modal*/

.modalDemanda {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 80vh;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 2%;
    color: rgb(0, 0, 0);
    border: solid 1px #b0b0b0;
    display: none;

    & .infoServidor_box {
        display: flex;
        justify-content: space-around;

        & h2 {
            font-size: 2rem;
            margin-top: 5px;
        }

    }

}

.graficoEspec_box {
    display: flex;
    margin-top: 5%;

    & .grafico_box {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    & canvas {
        width: 55vw !important;
        height: 60vh !important;
    }

    & p {
        font-size: 1.3rem;
        margin-bottom: 5px;
    }

    & .infoCalc_box {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .infoServidorDemandaEspc_box {
        display: flex;
        justify-content: flex-start;
        gap: 0px 20px;
        width: 27vw;

        & div {
            display: flex;
            flex-direction: column;
            margin-top: 5%;
        }
    }
}

.closeModal {
    font-size: 1.5rem;
    cursor: pointer;
}

.picos_box {
    width: 27vw;

    & span{
    }
}

.picosDesc_box{
    margin: 5% 0%;
}

.statusModal_box {
    display: flex;
    gap: 10px;

}

/* Descrição do Upgrade ou downgrade */
.calculDesc_box{
    margin-top: 5%;
    width: 27vw;
}

